body{
    margin: 0;
    padding: 0;
}
header{
    border-bottom:  6px solid  lightblue;
     border-radius: 10px; 
}
.lablebar{
    display: flex;
     align-items: center;
      justify-content: space-between; 
      margin: 0 100px ;
       padding: 10px 0;
}
.icon{
    display: flex;
     gap: 50px; 
     font-size: 20px; 
     text-decoration: none;
}
.container{
    display: flex; gap: 100px;
}
.headingandpic{
    margin: 30px 0 0 100px;
}
.headingandpic img{
    margin: 0 0 0 100px;
}
.sendMessage{
    margin-top: 50px ;
    border-right: solid ;
     border-bottom: solid ;
     box-shadow: 0 20x 20px 0 rgba(o, 17, 18, 0);
      border-radius: 20px;
}
.sendMessage h3{
    display:flex;
    justify-content:  center; 
    color: green;
}
.sendMessage ul{
    list-style: none;
   
}
.sendMessage ul li input{
    width: 456px ;
     height: 30px;
      margin: 0 0 7px 0;
       border-radius: 5px;
        border: 1px solid gainsboro;
}
.submbtn{
    display:flex;
     justify-content:  center;
      margin-top: 6px;
}
.submbtn button{
    padding: 10px 20px;
     border-radius: 7px;
      border: none; 
      background-color: green;
}
.sendMessage p{
    font-style: italic;
    display:flex;
    justify-content:  center;
}